.navbar {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, black, red);
    font-family: 'Bangers', 'Courier New', Courier, monospace;
}

.lienNav {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.Centre {
    margin-left: 1vw;
    margin-right: 1vw;
}

.jumbotron {
    background-image: url("./assets/images/salle-cinema.jpeg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Bangers', 'Courier New', Courier, monospace;
}

#film-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: black;
}

#film-content .card {
    min-width: 15vw;
    max-width: 15vw;
    height: auto;
    margin: 3vw;
    border: 1px solid grey;
}

.card img {
    height: 60%;
    min-width: 100%;
}

.card-body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    height: 10vw;
    padding-top: 17%;
}

.card-text {
    height: 4vw;
}

.form-control {
    width: 10vw;
    background-color: transparent;
    color: white;
}

.search-container {
    background-color: black;
    display: flex;
    justify-content: center;
}

.footer-content {
    align-items: center;
    height: 20vh;
    font-family: 'Bangers', 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(to right, black, red);
    color: white;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.reseaux {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rights {
    align-items: center;
    font-family: 'Bangers', 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to right, black, red);
    color: white;
    font-size: 0.8rem;
}

a:hover {
    color: black;
}

@media (min-width:100px) and (max-width: 1400px) {
    .navbar {
        background: linear-gradient(to right, #000000, #b10c2d);
        font-family: 'Bangers', cursive;
        font-size: 2rem;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navbar>.container-fluid {
        display: flex;
        margin-top: -15px;
        flex-direction: row;
        justify-content: space-between;
    }
    .navbar-link {
        position: absolute;
        left: 10%;
    }
    .nav-link {
        font-size: 3rem;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
        font-size: 4vw;
    }
    ul li:nth-child(1) {
        margin-right: 1vh;
    }
    .jumbotron h1 {
        font-size: 5vw;
    }
    .jumbotron .font-italic {
        font-size: 5vw;
    }
    .jumbotron a.btn {
        font-size: 3.2vw;
    }
    .jumbotron .font-italic {
        font-size: 3.5vw;
    }
    #film-content .card {
        min-width: 32vw;
        max-width: 20vw;
        height: auto;
        margin: 3vw;
        border: 2px solid grey;
        background-color: black;
    }
    .card .btn {
        width: 20vw;
        max-height: 6vw;
        font-size: 1.2vw;
        position: absolute;
        bottom: 2vw;
        right: 20%;
    }
    #film-content .card .card-body {
        color: white;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        align-items: center;
    }
    .link {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #film-content .card .card-title {
        font-size: 2.5vw;
    }
    #film-content .card .card-title h5 {
        font-family: 'Bangers', cursive;
        font-size: 3vw;
    }
    #film-content>div:nth-child(n)>div>p {
        font-size: 2.3vw;
        font-family: 'Bangers', cursive;
    }
    .search-container {
        display: flex;
        flex-direction: column;
        background-color: black;
        justify-content: center;
        align-items: center;
    }
    .form-control {
        width: 35vw;
        min-width: 35vw;
        margin-bottom: 1vw;
        background-color: transparent;
        color: white;
        font-weight: 700;
    }
    button {
        border: none;
        width: 15vw;
        min-width: 15vw;
        text-align: center;
    }
}